.footer {
    background-image: url('../assets/footer.png');
    background-size: cover;
    background-position: center;
    padding: 2rem 6rem;
    color: #333;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
}


.footer-logo img {
    width: 260px;
    height: auto;
    margin-top: 5rem;
}



.footer-logo p {
    font-size: 0.9rem;
    color: #555;
}


.footer-services h3,
.footer-contact h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-services ul,
.footer-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.footer-services ul li,
.footer-contact ul li {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.6;
}

.icon-location,
.icon-phone,
.icon-email,
.icon-clock {
    margin-right: 0.5rem;
    color: #007bff;
    font-size: 1.1rem;
}




.footer-links a {
    color: #333;
    font-size: 0.9rem;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer-links a:hover,.footer-services li:hover {
    color: #007bff;
}

.copy-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    cursor: pointer;

}
.copyright span a:hover{
    color: #007bff;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-services,
    .footer-contact,
    .footer-logo {
        text-align: center;
    }

    .footer-logo img {
        width: 150px;
        height: auto;
        margin-top: 2rem;
    }

    .footer-links {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


    }

    .column-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .copy-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer-logo {
        width: 400px;
        height: 100px;

    }
}

.column-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: left;

}

.columns-2 {
    padding-top: 1.5rem;

}

.columns-1 h3 {

    margin-left: 1.3rem;

}

.columns-1 li,
.columns-2 li {
    margin: 1.5rem;
}

.footer-contact h3 {
    margin-bottom: 2rem;
    margin-left: 1.3rem;
    text-align: left;
}

.footer-contact li {
    margin: 1rem;
    text-align: left;
}

#dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #007bff;
    display: inline-block;
    margin-right: 1rem;
}
span a{
    text-decoration: none;
    color:#555353;
}
.footer-contact li i  {
    padding-right: 1rem;
}