* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;


}


.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 4rem;
    background-image: linear-gradient(to right, #032a79, #0853e9);
    gap: 2rem;
  
}

.hero-content {
    max-width: 750px;
    color: white;
   

}

.hero-content h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #cccccc;
    margin-bottom: 2rem;
}

.hero-content span {
    color: #ff5733;
    font-weight: bold;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.get-started-button {
    padding: 18px 40px;
    font-size: 1rem;
    color: white;
    background-image:  linear-gradient(to right #f27c1e , #dd4c23);;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: #e04e2e;
}


.play-icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    animation: pulse 1.5s infinite;
    margin: 1rem 1rem 0 1rem;


}

.play-icon {
    font-size: 2rem;
    color: #ff5733;
}


.hero-image {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.hero-image img {
    width: 130%;
    height:auto;
    
}



@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
        background-color: #e04e2e;

    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;

    }

    100% {
        transform: scale(1.4);
        opacity: 1;
        
    }
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        height: 100vh;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .hero-image {
        width: 100%;
        margin:0;
        height: auto;
    }
    

    .button-container {
        justify-content: center;
    }

    .play-icon-container {
        animation: none;
        overflow: hidden;
    }

    .play-icon-container {
        display: none;
    }
}