.route-navbar-container {
    position: relative;
    overflow: visible;
}

.route-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #032a79, #0853e9);
    padding: 1rem 0rem;
    color: white;
    height: 10vh;
   

}

.route-logo{
    width: 40px;
    height: 40px;
    display: inline-flex;
    cursor: pointer;
}

.route-nav-links {
    list-style-type: none;
    display: flex;
    gap: 1.8rem;
    align-items: center;
}

.route-nav-links li {
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.route-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    padding: 1rem 4rem;
    list-style-type: none;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 300px;
    margin-top: 0.4rem;
}

.route-dropdown li {
    padding: 0.5rem 0rem;
}

.route-dropdown li:hover {
    color: #0853e9;

}

.route-nav-links li:hover .route-dropdown {
    display: block;
}


.icons {
    display: flex;
    gap: 1rem;
}


.route-mobile-menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    
}
li a{
    color: white;
    text-decoration: none;
}

.route-nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
  }
  
  .route-nav-icons span {
    display: flex;
    align-items: center;
  }
  
  .route-nav-icons i {
    color: #ffffff;
   
  }
  

@media (max-width: 768px) {
    
    .route-navbar {
        padding: 1rem;
    }
    .route-logo{
        display: inline-flex;
        justify-content:center;
        
    }
    .route-nav-links {
        position: absolute;
        top: 100px;
        left: 0;
        background-color: white;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        display: none;
        color: black;

    }

    .route-nav-links li a {
        color: black;
    }

    .route-nav-links.active {
        display: flex;

    }

    .route-nav-links li {
        width: 100%;
        padding: 0.5rem;

        border-bottom: 1px solid black;
    }



    .icons {
        display: none;
    }


    .route-mobile-menu-icon {
        display: block;
        position: absolute;
        right: 1rem;
        top:30%;
        margin-bottom: 2.5rem;
    }

    .route-dropdown li {
        border: none;
    }

    .route-dropdown {
        display: none;
    }
}

.route-link a {
    text-decoration: none;
    color: white;
}

.route-dropdown li a {
    text-decoration: none;
    color: black;
}

.route-dropdown li a:hover {
    color: #0853e9;
}