
.speak-container {
    display: flex;
    justify-content: center;
    background-color: #eef2f7;
    padding: 0 8rem;
    flex-wrap: wrap; 
   
}


.left-content-1 {
    padding: 5rem; 
    flex: 1;
}

.line-container-2 {
    display: flex;
    align-items: center;
}

.line-container-2 p {
    color: rgba(0, 47, 255, 0.753);
    font-size: 1rem;
}

#line-one1 {
    display: inline-block;
    width: 15px;
    height: 4px;
    background-color: tomato;
    margin-right: 5px;
}

#line-two2 {
    display: inline-block;
    width: 45px;
    height: 4px;
    background-color: tomato;
    margin-right: 10px;
}

.contacts h3 {
    padding-top: 3rem;
    font-size: 1.5rem;
}

.contacts p {
    margin-top: 10px;
    font-weight: bold;
}
.left-content-1 h1{
    color: black;
}


@media (max-width: 768px) {
    .speak-container {
        flex-direction: column; 
        align-items: center;
        padding: 1rem;
    }

    .left-content-1 {
        padding: 2rem; 
        text-align: center;
    }
    .line-container-2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line-container-2 p {
        font-size: 0.9rem; 
        
    }

    h1 {
        font-size: 1.8rem; 
    }

    .contacts h3 {
        font-size: 1.2rem; 
        padding-top: 2rem;
    }

    .contacts p {
        font-size: 1rem; 
        margin-top: 5px;
    }

    .right-content-1 img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}
