* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutus-container {
  
  background-color: #fff;
}

#colorlogo {
  width: 160px;
  height: 40px;
  cursor: pointer;
}

.aboutus-header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 1rem 0;

}

.aboutus-contact ul {
  display: flex;
  gap: 6rem;
}

ul li {
  list-style-type: none;
  margin-top: 0.5rem;

}

.aboutus-address,
.aboutus-email,
.aboutus-ph {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.aboutus-contact p {
  font-size: 14px;
  color: black;
}

.aboutus-contact li {
  font-size: 12px;
}

.aboutus-nav-container {
  position: sticky;
  top: 0;
  z-index: 2;
}

.aboutus-hero-section-1 {
  background-image: url('../assets/AboutusBG.jpg');
  background-size: cover;
  background-position: top;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutus-overlay-1 {
  background-color: rgba(90, 127, 237, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.aboutus-content-1 {
  color: white;
  text-align: center;
}

.aboutus-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.aboutus-content-1 p {
  color: white;
}

.aboutus-contentaboutus {
  margin-top: 8rem;
  margin-left: 4rem;
}

.aboutus-contentaboutus h1 {
  color: rgb(27, 104, 248);
  margin-bottom: 2rem;
}

.aboutus-para {
  padding: 1rem 3rem;
  max-width: 90%;
  margin-left: 4rem;

}

.aboutus-para p {
  font-size: 1rem;
}

.aboutus-para h1 {
  font-size: 1.5rem;
}

#para-aboutus {
  margin-bottom: 1.5rem;
}

.aboutus-mission {
  margin-top: 3rem;
  padding: 1rem 3rem;
  display: flex;
}

.aboutus-mission img {
  width: 300px;
  height: 150px;
  margin-left: 4rem;
}

.mission-content {
  margin-left: 2rem;
}

.mission-content h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.mission-content p {
  font-size: 1rem;
  max-width:95%;
}

.aboutus-values {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;

}

.values-content {
  margin-left: 7rem;
  padding: 2rem;
}

.values {
  display: flex;
  gap: 12rem;
  margin-left: 2rem;
}

.values-content h1 {
  color: rgb(27, 104, 248);
  margin-bottom: 3rem;
}

.left-values,
.right-values {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.value-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.values-image img {
  width: 250px;
  height: 250px;

}





@media (max-width: 768px) {
 
  .aboutus-header{
    display: none;
  }
 
  .aboutus-hero-section-1 {
    height: 30vh;
    background-position: center;
  }

  .aboutus-overlay-1 {
    justify-content: center;
    align-items: center;
  }

 
  .aboutus-contentaboutus {
    margin: 2rem 1rem;
  }

  .aboutus-mission {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .aboutus-mission img {
    max-width: 100%; 
    height: auto;
    margin: 0;
  }

  .mission-content {
    margin-left: 0;
    text-align: center;
  }

  /* Values section adjustments */
  .aboutus-values {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  .values-content {
    margin-left: 0;
    padding: 0;
    text-align: center;
  }

  .values {
    flex-direction: column;
    gap: 2rem;
    margin-left: 0;
  }

  .left-values, .right-values {
    align-items: center;
    gap: 2rem;
  }

  .value-item {
    flex-direction: column;
    text-align: center;
  }

  .values-image img {
    max-width: 100%; 
    height: auto;
    margin: 1rem auto;
  }

  /* Font size adjustments */
  .aboutus-para p, .mission-content p, .value-item span {
    font-size: 1rem;
  }

  .aboutus-para h1, .mission-content h1, .values-content h1 {
    font-size: 1.2rem;
  }
}


@media (max-width: 480px) {
  .aboutus-header {
    padding: 1rem 0;
  }

  #colorlogo {
    width: 120px;
    height: auto;
  }

  .aboutus-contact ul {
    gap: 0.5rem;
  }

  .aboutus-mission img {
    width: 90%; 
  }

  .values-image img {
    width: 120px; /* Smaller value image for mobile */
  }
}
