* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bpo-container {
  padding: 0rem 0;
  background-color: #fff;
}

#colorlogo {
  width: 160px;
  height: 40px;
  cursor: pointer;
}

.bpo-header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 1rem 0;

}

.bpo-contact ul {
  display: flex;
  gap: 6rem;
}

ul li {
  list-style-type: none;
  margin-top: 0.5rem;

}

.bpo-address,
.bpo-email,
.bpo-ph {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bpo-contact p {
  font-size: 14px;
  color: black;
}

.bpo-contact li {
  font-size: 12px;
}


.bpo-hero-section-1 {
  background-image: url('../assets/BPOBG.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bpo-overlay-1 {
  background-color: rgba(90, 127, 237, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bpo-content-1 {
  color: white;
  text-align: center;
}

.bpo-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.bpo-content-1 p {
  font-size: 1rem;
  margin-top: 10px;
  color: #fff;
}

.bpo-bar {

  height: 6px;
  background: rgb(215, 230, 245);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  width: 130%;
}

.bpo-fill {
  height: 100%;
  background: #022f7e;


}

.bpo-menu-container {
  width: 320px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
}

.bpo-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bpo-menu-item:hover {
  background-image: linear-gradient(to right, #022f7e 5%, #007bff 60%);

}

.bpo-menu-item:last-child {
  border-bottom: none;
}

.bpo-menu-item span {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.bpo-menu-item>span:hover {
  color: #fff;

}

.bpo-menu-item.active {
  /* background-image: linear-gradient(to right #022f7e, #007bff); */
  background-image: linear-gradient(to right, #022f7e 5%, #007bff 60%);
  color: white;
}

.bpo-menu-item.active span {
  color: white;
}

.bpo-menu-item .arrow {
  font-size: 1.2rem;
  color: inherit;
}

.bpo-contact-card {
  width: 300px;
  background: #022f7e;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.call-bpo-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 20px;
  position: relative;
  animation: pulseIn 1.5s infinite;


}

.call-bpo-i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #3178f2;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;

}

.bpo-contact-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

.bpo-contact-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #fff;
}

.bpo-contact-card .phone-number {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

#bpo-leftimg {
  width: 750px;
  height: 550px;

}

.bpo-content-lists {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7rem;
  padding: 0 10rem;
}

#bpo-para {
  max-width: 850px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.content-bpo {
  padding: 2rem;
}

.content-bpo h1 {
  color: black;
}

.bpo-correct-lists {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bpo-correct-lists i {
  margin-right: 10px;
}
.bpo-correct-lists p{
  font-size: 1rem;
}
.bpo-workus {
  margin-top: 2rem;
  display: flex;
  gap: 15rem;
  margin-left: 2.3rem;
  white-space: nowrap;
  margin-bottom: 4rem;
}

.bpo-workus p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.bpo-work-withus h1 {
  margin-left: 2rem;
  color: black;
}

.bpo-left-workus,
.bpo-right-workus {
  flex: 1;
}

.bpo-left-workus p,
.bpo-right-workus p {
  margin-top: 1rem;
}

.bpo-work-withus h1 {
  margin-left: 2rem;
}


@keyframes pulseIn {
  0% {
    transform: scale(0.8);
    opacity: 1;
    background-color: rgb(148, 146, 146);

  }

  50% {
    transform: scale(1.2);
    opacity: 0.6;

  }

  100% {
    transform: scale(1.4);
    opacity: 1;

  }
}

.bpo-get-in-touch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../assets/queryBG.jpg');
  background-size: cover;
  background-position: center;
  padding: 5rem 0rem;
  margin-bottom: -2rem;
}

.bpo-left-touch-content p,
h1 {
  color: #fff;
}

.bpo-right-touch-content button {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #022f7e 5%, #007bff 60%);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.bpo-right-touch-content button:hover {
  background-image: linear-gradient(to top right, #007bff 20%, #022f7e 60%);
}





@media (max-width: 1200px) {
  .bpo-content-lists {
    flex-direction: column;
    padding: 0 2rem;
  }


  .bpo-workus {
    flex-direction: column;
    gap: 2rem;
    margin-left: 0;
  }

  .bpo-workus p {
    font-size: 12px;
    margin-bottom: 1.5rem;
  }

  .bpo-bar {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .bpo-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    display: none;
  }

  #bpo-leftimg {
    width: 100%;
    height: auto;

  }


  .bpo-contact ul {
    flex-direction: column;
    gap: 1rem;
  }

  .bpo-container {
    padding: 1rem;
  }

  .bpo-menu-container {
    width: 100%;
  }

  .bpo-contact-card {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .bpo-get-in-touch {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .bpo-left-touch-content p,
  .bpo-left-touch-content h1 {
    text-align: center;
  }

  .bpo-right-touch-content button {
    width: 100%;
    margin-top: 1rem;
    white-space: nowrap;


  }

}


@media (max-width: 480px) {
  .bpo-hero-section-1 {
    height: 30vh;
  }

  .bpo-content h1 {
    font-size: 1.5rem;
  }

  .bpo-content p {
    font-size: 0.9rem;
  }

  .bpo-content-lists {
    padding: 0 1rem;
  }

  .bpo-workus p {
    font-size: 10px;
  }

  .bpo-menu-container {
    font-size: 14px;
  }

  .bpo-contact-card {
    padding: 1rem;
    gap: 1rem;
  }

  .bpo-correct-lists p {
    font-size: 12px;
  }

  .bpo-correct-lists i {
    font-size: 12px;
  }

  .bpo-right-touch-content button {
    padding: 0.8rem 2rem;
    font-size: 14px;
  }
}

.bpo-nav-container {
  position: sticky;
  top: 0;
  z-index: 2;
}