* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contactsin-container {
    padding: 0rem 0;
    background-color: #fff;
}

#colorlogo {
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.contactsin-header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 1rem 0;

}

.contactsin-contact ul {
    display: flex;
    gap: 6rem;
}

ul li {
    list-style-type: none;
    margin-top: 0.5rem;

}

.contactsin-address,
.contactsin-email,
.contactsin-ph {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contactsin-contact p {
    font-size: 14px;
    color: black;
}

.contactsin-contact li {
    font-size: 12px;
}

.contactsin-nav-container {
    position: sticky;
    top: 0;
    z-index: 2;
}

.contactsin-hero-section-1 {
    background-image: url('../assets/ContactsinBG.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsin-overlay-1 {
    background-color: rgba(90, 127, 237, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactsin-content-1 {
    color: white;
    text-align: center;
}

.contactsin-content-1 h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;

}

.contactsin-content-1 p {
    color: white;
}

.form-container {
    display: flex;
    gap: 5rem;
    margin: 4rem 9rem;
    margin-bottom: 4rem;

}

.experts-talk {
    max-width: 380px;
    background: linear-gradient(to right, #032a79 5%, #326fea 60%);
    padding: 10px 2rem;
    border-radius: 10px;
    height: 80vh;

}

.experts-content {
    padding: 1rem;
    margin-top: 3rem;
}

.experts-content h1,
.experts-content p {
    color: white;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.experts-icon-content p {
    color: white;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.experts-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.experts-icon {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;

}

.experts-icon-content {
    margin-top: 1.5rem;
}

.experts-icon-content p {
    font-size: 14px;
    padding-left: 2rem;

}



.form {
    width: 50%;
}

form p {
    font-size: 1rem;
    color: #3e7bf6;
    margin: 1rem 0;
}

form h1 {
    font-size: 1.8rem;
    margin: 1.5rem 0;
    color: black;
}

.form-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: #f8f8f8;
}

textarea {
    height: 120px;
    resize: none;
    margin-bottom: 1rem;
}

#sbtn {
    background: linear-gradient(to right, #022f7e 5%, #007bff 60%);
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#sbtn:hover {
    background: linear-gradient(to top right, #007bff 20%, #022f7e 60%);
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        align-items: center;
        margin: 1.5rem;
        gap: 2rem;
    }

    .experts-talk, .form {
        width: 100%;
        
    }

    .experts-talk {
        height: auto;
        padding: 1.5rem;
    }

    .experts-content h1,
    .experts-content p {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .experts-items {
        flex-direction: column;
        align-items: flex-start;
    }

    .experts-icon-content p {
        font-size: 0.9rem;
        padding-left: 0;
    }

    .form-row {
        flex-direction: column;
        gap: 1rem;
    }

    input,
    textarea {
        font-size: 0.9rem;
        padding: 1.2rem;
    }

    #sbtn {
        width: 50%;
        padding: 1rem;
    }
}