* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.enter-container {
  padding: 0rem 0;
  background-color: #fff;
  
}

#colorlogo {
  width: 160px;
  height: 40px;
  cursor: pointer;
}

.enter-header {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 1rem 0;
  position:sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.enter-contact ul {
  display: flex;
  gap: 6rem;
}

ul li {
  list-style-type: none;
  margin-top: 0.5rem;

}

.enter-address,
.enter-email,
.enter-ph {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.enter-contact p {
  font-size: 14px;
  color: black;
}

.enter-contact li {
  font-size: 12px;
}


.enter-hero-section {
  background-image: url('../assets/Desktop.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.enter-overlay {
  background-color: rgba(90, 127, 237, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.enter-content {
  color: white;
  text-align: center;
}

.enter-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.enter-content p {
  font-size: 1rem;
  margin-top: 10px;
  color: #fff;
}

.enter-bar {
  height: 6px;
  background: rgb(215, 230, 245);
  margin-top: 0.7rem;
  width: 100%;
}

.enter-fill {
  height: 100%;
  background: #022f7e;


}

.menu-container {
  width: 320px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-image: linear-gradient(to right, #022f7e 5%, #007bff 60%);

}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item span {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.menu-item>span:hover {
  color: #fff;

}

.menu-item.active {
  /* background-image: linear-gradient(to right #022f7e, #007bff); */
  background-image: linear-gradient(to right, #022f7e 5%, #007bff 60%);
  color: white;
}

.menu-item.active span {
  color: white;
}

.menu-item .arrow {
  font-size: 1.2rem;
  color: inherit;
}

.contact-card {
  width: 300px;
  background: #022f7e;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.call-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 20px;
  position: relative;
  animation: pulseIn 1.5s infinite;


}

.call-i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #3178f2;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;

}

.contact-card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

.contact-card p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #fff;
}

.contact-card .phone-number {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

#enterprise-leftimg {
  width: 750px;
  height: 550px;

}

.content-lists {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7rem;
  padding: 0 10rem;
  
}

#enterprise-para {
  max-width: 850px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size:1rem;
}

.content-enterprise {
  padding: 2rem;
}

.content-enterprise h1 {
  color: black;
}

.correct-lists {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.correct-lists p{
  font-size: 1rem;
}
.correct-lists i {
  margin-right: 10px;
}

.enter-workus {
  margin-top: 2rem;
  display: flex;
  gap:15rem;
  margin-left: 2.3rem;
  white-space: nowrap;
  margin-bottom: 4rem;
}

.enter-workus p {
  font-size: 12px;
  font-weight: bold;
  margin-bottom:1.5rem;
}

.enter-work-withus h1 {
  margin-left: 2rem;
  color: black;
}



.enter-left-workus,.enter-right-workus{
  flex:1;
}
.enter-left-workus p , .enter-right-workus p{
margin-top: 1rem;
}
.enter-work-withus h1 {
  margin-left: 2rem;
}



@keyframes pulseIn {
  0% {
    transform: scale(0.8);
    opacity: 1;
    background-color: rgb(148, 146, 146);
  }

  50% {
    transform: scale(1.2);
    opacity: 0.6;
    
  }

  100% {
    transform: scale(1.4);
    opacity: 1;

  }
}

.get-in-touch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../assets/queryBG.jpg');
  background-size: cover;
  background-position: center;
  padding: 5rem 0rem;
  margin-bottom: -2rem;
}

.left-touch-content p,
h1 {
  color: #fff;
}

.right-touch-content button {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #022f7e 5%, #007bff 60%);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.right-touch-content button:hover {
  background-image: linear-gradient(to top right, #007bff 20%, #022f7e 60%);
}





@media (max-width: 1200px) {
  .content-lists {
    flex-direction: column;
    padding: 0 2rem;
  }


  .enter-workus {
    flex-direction: column;
    gap: 2rem;
    margin-left:0;
  }

  .enter-workus p {
    font-size: 12px;
    margin-bottom: 1.5rem;
  }

  .enter-bar {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .enter-header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    display: none;
  }

  #enterprise-leftimg {
    width: 100%;
    height: auto;

  }


  .enter-contact ul {
    flex-direction: column;
    gap: 1rem;
  }

  .enter-container {
    padding: 1rem;
  }

  .menu-container {
    width: 100%;
  }

  .contact-card {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .get-in-touch {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .left-touch-content p,
  .left-touch-content h1 {
    text-align: center;
  }

  .right-touch-content button {
    width: 100%;
    margin-top: 1rem;
    white-space: nowrap;
  }

}


@media (max-width: 480px) {
  .enter-hero-section {
    height: 30vh;
  }

  .enter-content h1 {
    font-size: 1.5rem;
  }

  .enter-content p {
    font-size: 0.9rem;
  }

  .content-lists {
    padding: 0 1rem;
  }

  .enter-workus p {
    font-size: 10px;
  }

  .menu-container {
    font-size: 14px;
  }

  .contact-card {
    padding: 1rem;
    gap: 1rem;
  }

  .correct-lists p {
    font-size: 12px;
  }

  .correct-lists i {
    font-size: 12px;
  }

  .right-touch-content button {
    padding: 0.8rem 2rem;
    font-size: 14px;
  }
}
.enter-nav-container{
  position:sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}



