
.job-details {
    max-width: 800px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
   
  }
  .job-details h3{
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 0.7rem;
    background-color:  #0853e9;
    color: #FFFFFF;
    border-radius: 8px;
  }
  
  
  .job-meta p {
    margin:15px 15px;
    color: black;
    font-size: 1rem;
  }
  
  .key-skills {
    color: white;
    margin-top: 20px;
  }
 .key-skills p{
    padding: 10px;
    font-size: 1rem;
    margin:10px 5px;
  }
  .roles ul {
    margin-top: 10px;
    padding-left: 20px;
    
  }
  
  .roles ul li {
    margin-bottom: 10px;
    
  }